.logoCesuca img{
    
    width: 81%;
    height: 42%; 
    max-width: 150px;
    align-items: flex-start;
    display: inline-block;
    padding-right: 70%;
    padding-left: 2%;
    padding-top: 20%;

}

.cabecalho a{
    text-decoration: none;
    color: white;
    padding-left: 30%;
}

.cabecalho {
    display: flex; 
    text-align: center;
    color: white;
    background-color: #999999;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    font-size: large;
} 

body {
    background-color: #fcfcf0;
    margin: 0; 
    padding-top: 50px;
}

.corpoFotosQuartos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 80px;   
}

.corpoFotosQuartos img {
    width: 270px;
    height: 270px; 
    object-fit: cover;
    display: block;
    margin: 20px; 
    padding-left: 0; 
    border-radius: 15px; 
}

.corpoFotosQuartos div {
    margin: 30px;
    font-size: larger;
}

.corpoFotosQuartos p{
    margin: 10px ; 
    text-align: left; 
    width: 100%; 
    font-size: larger;
    font-family: 'Roboto';
}

.corpoFotosQuartos button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease;
}

.corpoFotosQuartos button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}